@use "./reset.scss";

:root {
  --color-whiteish: #e8e9e9;
  --color-blackish: #24272e;
  --color-greyish: rgb(106, 106, 106);
}

.rpc-game {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-blackish);
  color: var(--color-whiteish);
  height: 100vh;

  h1 {
    font-size: 5rem;
    background-color: var(--color-whiteish);
    color: rgb(106, 106, 106);
    font-weight: 400;
  }
}

.rpc-rounds {
  margin: 0 auto;
  margin-top: 32px;
  width: 300px;
  padding: 16px;
  border: white 2px solid;

}

.rpc-round-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  div {
    width: 50%;
    text-align: start;
  }
}

.rpc-round-counter {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}

.rpc-scores {
  display: flex;
  width: 300px;
  margin: 0 auto;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border: white 2px solid;
  position: relative;
  padding: 16px;

  .score-tag {
    position: absolute;
    background-color: red;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1.5rem;
  }

  p:nth-of-type(1) {
    left: 0;
    transform: translateX(-50%);
  }
  p:nth-of-type(3) {
    right: 0;
    transform: translateX(+50%);

  }
}

.rpc-output {
  font-size: 2rem;
  margin-top: 32px;
}

.rpc-choice-buttons {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  justify-content: center;

  button {
    aspect-ratio: 1;
    border: black 4px solid;
    border-radius: 50%;
    padding: 16px;
  }

  .rpc-win {
    background-color: green;
  }

  .rpc-loose {
    background-color: red;
  }

  .rpc-draw {
    background-color: grey;
  }
}

section > p:not(.output) {
  font-size: 1.2rem;
  margin-top: 32px;
  font-weight: 600;
}

.rpc-reset {
  background: none;
  border: none;
  text-decoration: underline;
  color: orange;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 32px;
}
